@model RequestViewModel

@{
    ViewData["Title"] = "Realizar Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section  styles { 
    <link rel="stylesheet" href="~/datatables/css/jquery.dataTables.min.css" type="text/css" />
}

<h3>Bases Disponiveis</h3>

<div class="row">
    <div class="col-md-12">
        <table id="BaseTable" class="table table-striped table-bordered table-hover responsive" width="100%">
            <thead class="thin-border-bottom">
                <tr>
                    <th></th>
                    <th>Base</th>
                    <th></th>
                </tr>
            </thead>
        </table> 
    </div>
    <div class=" col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="float-left">Consulta</div>
                <ul class="nav nav-pills card-header-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-success" data-toggle="modal" data-target="#filtrosModal" href="#">Filtros</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" ></a></li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark" href="#">Consultar</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Bases selecionadas</h5>
                <div id="baseArea">
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

            var basesBusca = new Array(
            //    {
            //    name: "",
            //    colunas: [
            //        {
            //            descricao: ""
            //        }
            //    ]
            //}
            );

            function showFiltros() {
                $("#filtrosModal").modal('show');
            }

            $("#filtrosModal").on('show.bs.modal', function (e) {

                


                for (var l = 0; l < basesBusca.length; l++) {
                    var field = '<fieldset>';

                    var select = '';
                    select += '<select class="custom-select custom-select-sm" id="' + basesBusca[l].name + '-selectListColunas">';

                    for (var j = 0; j < basesBusca[l].colunas.length; j++) {
                        select += '<option value="' + basesBusca[l].colunas[j].descricao + '">' + basesBusca[l].colunas[j].descricao + '</option>';
                    }

                    select += '</select>';

                    var legend = '<legend>' + basesBusca[l].name + ' <button type="button" class="btn bt-sm btn-primary"><i class="fas fa-plus-square"></i> Adicionar Filtro</button>' + select + '</legend>';
                    field += legend;
                    field += '<ul class="list-group list-group-flush" id="' + basesBusca[l].name + '-ulFiltro">';
                    field += '</ul></fieldset>';

                    $("#filtrosBody").append(field);
                }

            });

            function montarFiltro(selectName) {
                var idBase = selectName;
                selectName += "-selectListColunas";
                var ulFiltro = idBase + "-ulFiltro";

                var selectList = document.createElement('select');
                var options = '';
                options += '<option value="[data]>">[Data] - ></option>';
                options += '<option value="[data]>=">[Data] - >=</option>';
                options += '<option value="[data]<=">[Data] - <=</option>';
                options += '<option value="[data]<">[Data] - <</option>';

                selectList.append(options);

                var li = '<li class="list-group-item></li>';
            }

            $("#filtrosModal").on('hidden.bs.modal', function (e) {
                var filtrosBody = $("#filtrosBody")[0];
                var children = filtrosBody.children;

                for (var i = 0; i < children.length; i++) {
                    filtrosBody.removeChild(children[i]);
                }
            });

            setInterval(function () {
                var element = $("#baseArea");

                for (var z = 0; z < basesBusca.length; z++) {
                    var children = element.children("#" + basesBusca[z].name);

                    if (children.length == 0)
                        element.append('<span id='+ basesBusca[z].name +' class="badge badge-info">' + basesBusca[z].name + '</span>');
                }

                var childrens = element.children();

                for (var z = 0; z < childrens.length; z++) {

                    var base = basesBusca.findIndex(function (value) {
                        return value.name == childrens[z].id;
                    });

                    if (base == -1)
                        element[0].removeChild(childrens[z]);
                }

            }, 500);

            function formatColunas(elements) {

                var colunas = '';

                for (var i = 0; i < elements.length; i++) {
                    colunas += '<tr><td>'+elements[i].descricao+'</td></tr>'
                }


                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' + colunas + '</table>';
            }

            var baseTable = $("#BaseTable")
                .DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/api/basedados",
                        "method": "GET"
                    },
                    "columns": [
                        { "data": null },
                        { "data": "name" },
                        { "data": null }
                    ],
                    "columnDefs": [
                        {
                            "targets": -3,
                            "data": null,
                            "defaultContent": '<div class="btn-group"> <button type="button" class="btn btn-info dt-expand" style="margin-right:16px;"><i class="fas fa-angle-right"></i></button></div>'
                        },
                        {
                            "targets": -1,
                            "data": null,
                            "defaultContent": '<div class="btn-group"> <button type="button" class="btn btn-info dt-view" style="margin-right:16px;"><i class="fas fa-plus-square"></i></button></div>'
                        }
                    ],
                    "ordering": true,
                    "paging": true,
                    "pagingType": "full_numbers",
                    "pageLength": 5
                });

            function getColunas(indexName) {

                var result = {};

                $.ajax({
                    url: '/api/basedados/Colunas/' + indexName,
                    method: 'GET',
                    async: false,
                    success: function (data) {
                        result = data.data;
                    },
                    error: function (data) {
                        throw data.responseJSON;
                    }
                });

                return result;
            }

            $("#BaseTable tbody").on("click", "button.dt-view", function () {
                var tr = $(this).closest('tr');
                var row = baseTable.row( tr );

                var dataRow = row.data();
                var baseName = dataRow.name;

                var colunas = getColunas(baseName);

                var isNaBusca = basesBusca.findIndex(function (value) {
                    return value.name == baseName;
                });

                if (isNaBusca != -1) {
                    basesBusca.splice(isNaBusca, 1);
                    return;
                }

                basesBusca.push({
                    name: baseName,
                    colunas: colunas
                });

            });

            $("#BaseTable tbody").on("click", "button.dt-expand", function () {
                var tr = $(this).closest('tr');
                var row = baseTable.row( tr );
 
                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    var dataRow = row.data();
                    var data = getColunas(dataRow.name);

                    row.child(formatColunas(data)).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>
}

<!-- modals -->
<div class="modal fade" id="filtrosModal" tabindex="-1" role="dialog" aria-labelledby="filtrosModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtrosModalLabel">Filtrando dados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="filtrosBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
