
LeituraArquivoCSVGrande/bin/Debug/netcoreapp2.1/wwwroot/TempBases/bolsaFamilia.zip
LeituraArquivoCSVGrande/bin/Debug/netcoreapp2.1/wwwroot/TempBases/201901_BolsaFamilia_Pagamentos.csv
LeituraArquivoCSVGrande/bin/Debug/netcoreapp2.1/wwwroot/TempBases/bolsaTeste/201901_BolsaFamilia_Pagamentos.csv
/.vs/LeituraArquivoCSVGrande/v16
