<div class="modal fade" id="graphicsConfigModal" tabindex="-1" role="dialog" aria-labelledby="graphicsConfigModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="graphicsConfigModal">Grouping Data</h5>
            </div>
            <div class="modal-body" id="graphicsCondigBody">
                <label for="graphicSelectTypeList">Graphic Type</label>
                <select id="graphicSelectTypeList" class="form-control">
                    <option value="pie">Pie Chart</option>
                    <option value="bar">Bar Chart</option>
                    <option value="column">Column Chart</option>
                    <option value="histogram">Histogram</option>
                    <option value="table">Table</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnRunGraphics">Run</button>
            </div>
        </div>
    </div>
</div>
