<div class="modal fade" id="selectsModal" tabindex="-1" role="dialog" aria-labelledby="selectsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectsModal">Selecting data</h5>
            </div>
            <div class="modal-body" id="selectsBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save and Close</button>
            </div>
        </div>
    </div>
</div>
