@model ForgotPasswordModel.InputModel
@{
    ViewData["Title"] = "Forgoted my password";
}

<h1>Forgoted my password</h1>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Recover my password</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
