@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager

<ul class="navbar-nav">
    <AuthorizeView>
        <Authorized Context="Auth">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/ManageUser/@Auth.User.GetUserId()">Hello @Auth.User.Identity.Name!</a>
            </li>

            @*@if (context.User.IsInRole("Queryable"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Query" asp-action="Index">Query Data</a>
                    </li>
                }*@

            <li class="nav-item dropdown">
                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    System Data
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @*@if (context.User.IsInRole("Manager"))
                        {
                            <a class="dropdown-item" asp-controller="Order" asp-action="Index">Import Orders</a>
                        }*@

                    <AuthorizeView Roles="Administrator">
                        <div class="dropdown-divider"></div>
                        <NavLink class="dropdown-item" href="SystemRoles">System Roles</NavLink>
                        <NavLink class="dropdown-item" href="SystemUsers">System Users</NavLink>
                    </AuthorizeView>
                    <AuthorizeView Roles="Manager">
                        <div class="dropdown-divider"></div>
                        <NavLink class="dropdown-item" href="RequestOrder">New Import</NavLink>
                    </AuthorizeView>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/logout">Logout</a>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="AccountRegister">Register</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link text-dark" href="AccountLogin">Login</NavLink>
            </li>
        </NotAuthorized>
    </AuthorizeView>

</ul>

@code {

}
