@model RequestViewModel

@{
    ViewData["Title"] = "Searching Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="~/datatables/css/jquery.dataTables.min.css" type="text/css" />
    <style>
        .col-md-12{
            margin-top: 10px;
            margin-bottom: 5px;
        }
    </style>
}

<h3>Available Bases</h3>

<div class="row">
    <div class="col-md-12">
        <table id="BaseTable" class="table table-striped table-bordered table-hover responsive" width="100%">
            <thead class="thin-border-bottom">
                <tr>
                    <th></th>
                    <th>Base</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="float-left">Config Query Data</div>
                <ul class="nav nav-pills card-header-pills float-right">
                    <li class="nav-item">
                        <input id="formEntries" class="form-control form-control-sm" type="number" placeholder="Number os entries" aria-label="Search">
                    </li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item">
                        <input id="checkboxEntries" type="checkbox" aria-label="Search"> Return all entries
                    </li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-success" data-toggle="modal" data-target="#filtrosModal" href="#">Filters</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-primary" data-toggle="modal" data-target="#selectsModal" href="#">Select Columns</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-dark" href="#" id="BtnQuery">Generate CSV</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"></a></li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-info" href="#" data-toggle="modal" data-target="#graphicsConfigModal" id="BtnGraphic">Generate Graphics</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Selected Base</h5>
                <div id="baseArea">

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="float-left"> Graphics </div>
            </div>
            <div class="card-body">
                <div id="chartDiv" style="border: 1px solid #ccc"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/jquery.blockUI/jquery.blockUI.min.js"></script>
    <script src="~/custom/consulta/IndexEvents.js"></script>
    <script src="~/custom/consulta/Index.js"></script>
    <script src="~/custom/consulta/ColunaBase.js"></script>
    <script src="~/custom/consulta/BaseBusca.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { packages: ['corechart'] });
    </script>
}

<!-- modals -->
<partial name="Modals/modalFilter" />
<partial name="Modals/modalSelect" />
<partial name="Modals/modalGraphicConfig" />
